h1 {
  font-family: Helvetica, sans-serif;
  font-size: 3em;
}

body {
  background-image: url("images/background.jpg");
}

.header h1 {
  background-image: linear-gradient(to left, rgba(255,0,0,0), beige);
  padding: 10px;
  top: 300px;
  left: 0px;
  display: block;
}

.header {
  border-left-color: beige;
  left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-top: 0%;
  position: fixed;
  top: 5%;
  display: block;
  min-width: 625px;

}
.portrait {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
}

.social {
  float: right;
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: -1;
}

.menu{
  width: 20%;
  position: absolute;
  top: 20%;
}

.about {
  display: block;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.workbox {
  display: block;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  height: 500px;
  width: 650px;
  background-blend-mode: soft-light;
  opacity: 0.8;
}

.email {
  display: block;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
}

.choose{
  float: right;
  display: inline;
}

.list {
  position: relative;
  float: right;
  background-color:bisque;
  padding: 20px;
  margin-right: 50px;
  text-align: left;
  width: 200px;
}

.workbox p {
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  padding-top: 40px;
  padding-left: 35px;
}

.background {
  z-index: -2;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  min-height: 100%;
  min-width: 1200px;
}

#emphasis {
  font-family: cursive, 'Courier New', Courier, monospace;
  font-size: 2.5em;
}