h1 {
  font-family: Helvetica, sans-serif;
  font-size: 3em;
}

body {
  background-image: url("images/background.jpg");
}

.header h1 {
  background-image: linear-gradient(to left, rgba(255,0,0,0), beige);
  padding: 10px;
  top: 300px;
  left: 0px;
  display: block;
}

.header {
  
  border-left-color: beige;
  
  left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-top: 0%;
  position: fixed;
  top: 5%;
  display: block;
  min-width: 625px;

}
.portrait {
  display: block;
  width: 30%;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  
  
}

.social {
  float: right;
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: -1;
}

.services{
  width: 20%;
  position: absolute;
  top: 20%;

}

.about {
  display: block;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.choose{
  float: right;
  display: inline;
}

.background {
  
  z-index: -2;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  
  
  min-height: 100%;
 
  min-width: 1200px;
  

}