h1 {
  font-family: Helvetica, sans-serif;
}

body {
 
}

.header h1 {
  background-color: beige;
  position: relative;
  top: 0px;
  left: 0px;
}

.header {
  width: 50%;
  box-sizing: border-box;

}
.portrait {
  width: 20%;
  float: left;
  margin-right: 100%;
  
}

.social {
  float: right;
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: -1;
}

.services{
  width: 20%;
  display: inline-block;
  

}

.choose{
  float: right;
  display: inline;
}